html{
    font-size: 62.5%;
}

body{
    align-items: center;
    background: #f5f5f5;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    justify-content: center;
}

h1{
    font-size: 2.6rem;
}

.form-convert{
    max-width: 350px;
    text-align: center;
    width: 100%;
}

.form-download{
    display: none;
}

.form-group{
    margin: 2rem 0;
}

#url{
    border: 1px solid #ced4da;
    outline: 0;
    transition: border .15s, box-shadow .15s;
}

#url:focus{
    border: 1px solid #86b7fe;
    box-shadow: 0 0 0 5px #b9d3fa;
}

#url, .btn{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
}

.btn{
    border-radius: 30px;
    color: #fff;
    outline: 0;
    border: 0;
    cursor: pointer;
    margin: 1rem 0;
    display: inline-block;
    width: 45%;
}

.btn-convert{
    background: #0d6efd;
}

.btn-clear{
    background: rgb(61, 55, 55);
}

.btn-clear:hover{
    background: black;
}

.btn-convert:hover{
    background: #0759d3;
}

